<h1>Date:</h1>
<h4><%= @workout.date %><br><br>
<h1>You focused on:</h1>
<h4><%= @workout.training %><br><br>
<h1>You were feeling:</h1>
<h4><%= @workout.mood   %><br><br>
<h1>You worked out for:</h1>
<h4><%= @workout.length %>

